[Desktop Entry]
Encoding=UTF-8
Name=peopleEdit
Comment=simple contact editor
Exec=peopleedit
Icon=peopleedit.png
Terminal=false
Type=Application
Categories=Office;Application;